div.titulo {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0 10px 0;
}

.card {
    width: 100%;
    text-align: center;
    margin: 10px;
}

.card p.description {
    font-weight: 900;
    font-size: 15px;
    margin: 20px;
    text-transform: uppercase;
}

.card img {
    max-width: 250px;
    margin: 10px 0 0 0;
}
.option{
    width: 100%;
}
.mat-form-field{
    width: 100%;
}
.btn-aceptar{
    display: block;
    background-color: #e1251b;
    text-align: center;
    border: none;
    border-radius: 0;
    color: white;
    padding: 5px 10px;
    margin: 0 auto 5px auto;
    width: 200px;
    cursor: pointer;
}   