<div class="container">
    <div class="row">
        <h1>Finaliza tu compra realizando los siguiente pasos</h1>
    </div>
    <div class="row">
        <div class="col-12">   
            <div class="card">
                <p class="title-qr">Muestra esta imagen a un vendedor en tienda</p>
                <img src="assets/qr.png" alt="qr">
                <p class="title-qr">1.- El vendedor te entregará tu producto</p>
                <p class="title-qr">2.- Realiza tu pago en caja</p>
                <p class="listo">¡Listo! así de fácil</p>
            </div>
        </div>
    </div>
</div>